$primary-color: #ff0062;

.main {
    .infoWindowCard {
        display: flex;
        //height: 208px;
        //width: 450px;
        width: auto;
        border-radius: 0;
        background-color: #fafafa;
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12);

        .details {
            display: flex;
            flex-direction: column;

            .content {
                padding-top: 0;
                padding-bottom: 0;
                flex: 1 0 auto;
            }

            .top {
                display: flex;
                align-items: center;

                .price {
                    color: $primary-color;
                    font-family: Montserrat;
                    font-size: 22.5px;
                    font-weight: 500;
                }

                .period {
                    color: #4a4a4a;
                    font-family: Montserrat;
                    font-size: 12px;
                    font-weight: 300;
                    margin-right: 10px;
                }

                .mainRating {
                    color: #e3ab53;
                    font-family: Montserrat;
                    font-size: 22.5px;
                    font-weight: 500;
                }

                .votes {
                    color: #4a4a4a;
                    font-family: Montserrat;
                    font-size: 12px;
                    font-weight: 300;
                }
            }

            .title {
                margin-top: 5px;
                // font-size: 16px;
                // height: 22px;
                // width: 201px;
                color: #4a4a4a;
                font-family: Montserrat;
                font-size: 18px;
                font-weight: 500;
                letter-spacing: 0;
                line-height: 22px;
            }

            .mainFeatures {
                // font-size: 14px;
                // font-weight: 500;
                // height: 15px;
                // width: 82px;
                margin-top: 5px;
                color: #4a4a4a;
                font-family: Montserrat;
                font-size: 12px;
                font-weight: 500;
                letter-spacing: 0;
                line-height: 15px;
            }

            .controls {
                display: flex;
                align-items: center;
                color: $primary-color;
                margin-top: 5px;
            }

            .icon {
                margin-right: 10px;
                border-radius: 50%;
                border: 1px #020202;
                background-color: #e7e7e7;
                padding: 5px;
                width: 30px;
                height: 30px;
            }

            .dealRating {
                color: $primary-color;
                border-radius: 50%;
                border: 1px #020202;
                background-color: #e7e7e7;
                width: 30px;
                height: 30px;
                padding-top: 3px;
                text-align: center;
            }
        }

        .right {
            .exploreButton {
                margin-top: 10px;
                width: 169px;
            }
        }

        .cover {
            // height: 150px;
            // width: 200px;
            height: 130px;
            width: 169px;
        }
    }
}
